# url backend Service
API_URL=
# For test
API_KEY=

# URL MAP
API_URL_MAP=
API_KEY_MAP=

#  Thaicom api
THAICOM_API_URL=

NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Email ติดต่อ ของ Thaicom
NEXT_PUBLIC_CONTACT_EMAIL=geointel@thaiai.co.th

# MapTiler Config
NEXT_PUBLIC_MAPTILER_DEM_URL=
NEXT_PUBLIC_MAPTILER_API_KEY=

# Google Maps API Key
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# WebSocket Upload URL
NEXT_PUBLIC_WSS_UPLOAD_URL=
# Debug configuration
# Set to 'true' to enable detailed debug logging for middleware and NextAuth
MIDDLEWARE_DEBUG=
